body {
  background-image: url('../images/flores.svg');
  background-color: #102a79;

  margin: 0;
  padding: 0;
  background-repeat: repeat;
  background-size: 300px auto;
  background-position: top left;
  background-attachment: scroll;
  text-align: center;
}

body.modal-open{
  overflow: hidden;
}

img {
  max-width: 90%;
  border-radius: 15px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background-color: #3C5789;
  color: white;
  cursor: pointer;
}

h2 {
  margin: 10px 0;
  font-size: 33px;
  font-family: 'Great Vibes', sans-serif;
}

h3 {
  color: gray;

  font-size: 18px;
  margin: 10px 0;
}

.intro-modal {
  position: fixed;
  z-index: 9999;
  background-color: #e5d7c0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(19, 20, 94);
  font-family: 'Great Vibes', cursive;
  opacity: 1;
  transition: opacity 1s ease;
}

.intro-modal.fade-out {
  opacity: 0;
  pointer-events: none;
}

.intro-text {
  position: relative;
  z-index: 1;
  font-size: 45px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.intro-img {
  position: relative;
  z-index: 1;
  width: 200px;
  max-width: 80%;
  transition: transform 0.3s;
}

.intro-img:hover {
  transform: scale(1.2);
}

.seal-wrapper {
  position: relative;
  display: inline-block;
}

.solapa {
  position: absolute;
  width: 300px;
  height: 4px;
  background-color: #b69a6f;
  transform-origin: center;

  z-index: 1;
}


.solapa-superior-izquierda {
  left: -95%;
  transform: rotate(45deg);
}


.solapa-superior-derecha {
  right: -95%;
  transform: rotate(-45deg);
}

.solapa-inferior-izquierda {
  left: -120%;
  top: 100%;
  transform: rotate(-45deg);
}

.solapa-inferior-derecha {
  right: -120%;
  top: 100%;
  transform: rotate(45deg);
}

/*BOTON DE AUDIO*/
#mute-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  outline: none;
  z-index: 1000;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

#mute-toggle.unmuted {
  background-image: url('../images/audio.svg');
}

#mute-toggle.muted {
  background-image: url('../images/mute.svg');
}

.logo-horse{
  width: 200px;
}


/*MODULOS*/

.header {
  min-height: 100vh; /* Toma al menos toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  text-align: center;
  padding: 20px; /* Espaciado interno adaptable */
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}


.header-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s ease;
}

.header-visible {
  opacity: 1;
  pointer-events: auto;
}

div.header h2{
  margin-top: 40px;
  margin-bottom: 40px;
}

.module.visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.module {
  background-color: white;
  padding: 20px;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  width: 90%;
  border-radius: 20px;
  border-style: solid;
  border-color: #EEC274;
  border-width: 5px;
  text-align: center;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.modulo-carrusel {

  border-radius: 20px;

  border-width: 5px;
  display: -webkit-inline-box;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

/*CARRUSEL*/

.carousel {
  overflow: hidden;
  position: static;
  width: 80%;
  /* O el ancho que desees para tu carrusel */
  margin-left: auto;
  margin-right: auto;
  /* Para centrarlo en la página */
}

.carousel-track {
  display: flex;
  transition: transform 10s;
  /* Transición para el movimiento suave */
  will-change: transform;
  gap: 30px;
}

.carousel-img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: auto;
}

.countdown-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-family: sans-serif;
}

.countdown-item {
  background-color: #f4f4f4;
  padding: 15px 20px;
  border-radius: 12px;
  min-width: 80px;
  border-style: solid;
  border-color: #EEC274;
  border-width: 5px;
}

.countdown-value {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.countdown-label {
  font-size: 25px;
  color: #777;
  font-family: "Great Vibes", Sans-serif;

}

.carta {
  background-color: #EEC274;
  border-style: double;
  border-width: 10px;
  border-color: #3C5789;
  border-radius: 35px 0px 35px 0px;
  padding: 20px;
  margin: 20px;
  width: 90%;
}

.divider {
  width: 20%;
  height: 2px;
  background-color: #3C5789;
  margin: 10px auto;
}



.rounded-full {
  border-radius: 30px;
}




.second-head-title {
  color: #1A2547;
  font-family: "Great Vibes", Sans-serif;
  font-size: 33px;
  margin: 10px;
  font-family: 'Great Vibes', sans-serif;
}

.head-title {
  color: #EEC274;
  font-size: 50px;
  margin: 0;
  font-family: 'Great Vibes', sans-serif;

}


@keyframes palpitar {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.boton-palpitar {
  animation: palpitar 1.5s infinite;
  transition: transform 0.2s;
}



/*MODAL CONFIRMACION*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* fondo translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#confirm-btn {
  background-color: #25D366;
  border: none;
  color: white;
  margin: auto;
  padding: 0.8rem 1.5rem;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}